.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

body {
   font-family: "Montserrat", sans-serif;
}



.art-board {
   border-radius: 40px;
   border: 6px solid black;
   box-shadow: -30px 70px 150px -20px rgba(51, 51, 51, 0.25);
}

.art-board__container {
   margin: 18px 0 18px 0;
   width: 375px;
   height: 812px;
   overflow: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.card {
   width: 295px;
   overflow: hidden;
   border-radius: 25px;
   border: 1px solid lavender;
   margin: auto;
   box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
}

.card__image {
   position: relative;
   height: 140px;
}
.card__image > img {
   max-width: 100%;
   border-bottom-right-radius: 30px;
   transform: rotate(10deg) translate(-10px, -60px);
   position: absolute;
   height: 200px;
   object-fit: cover;
   object-position: center;
}

.card__info {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   padding: 0px 30px 20px 30px;
}
.card__info h3 {
   font-size: 18px;
   font-weight: 700;
}
.card__info p {
   font-size: 14px;
   font-weight: 600;
}
.card__info--price {
   text-align: right;
   color: orangered;
}
.rect2 {
   position: relative;
   bottom: 315px;
   right: 15px;
   width: 325px;
   height: 230px;
   border: 1px solid lavender;
   border-radius: 0 0px 80px 0;
   transform: rotate(10deg);
   object-fit: cover;
}
.checked {
   color: #ffd700;
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background: #cccccc;
   border-radius: 10px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
}

/*  */
/* MenuItemCard.css */

.card {
  margin-bottom: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-dialog {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  max-width:400px;
  width: 100%;
}

.modal-header {
  background-color: #f5a623;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding:0 10px;
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 1.25rem;
}

.close {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.modal-body {
  padding: 20px;
}

.order-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quantity-button {
  background-color: #f5a623;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  margin: 0 20px;
  cursor: pointer;
}

.product-name {
  font-weight: bold;
}

.total-price {
  font-weight: bold;
}

.modal-footer {
  background-color: #f5a623;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
  text-align: right;
}

.btn-secondary {
  background-color: #fff;
  color: #f5a623;
  border: 1px solid #f5a623;
  border-radius: 4px;
  padding: 5px 15px;
  margin:0 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: #f5a623;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
}

/* navbar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.containerN {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  width:100%;
  height: 60px;
  background-color: #fef7e5;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
  z-index: 10;

}

.nav-elements ul a.active::after {
  content: "";
  /* position: absolute; */
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 10;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}


/* adit */


/* Styles for colorText */
.colorText {
  color: #f5a623;
  font-size: 3rem;
  font-family: 'Roboto Condensed';
}

/* Styles for container */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: red; */
  /* padding-left: 30px; */
  justify-content: center;
  /* padding: 0 0 0 20px; */
}

/* Styles for title */
.title {
  /* flex-grow: 3; */
  color: black;
  font-size: 2.5em;
  font-family: 'Lato';
}


.container1 {

  padding: 0 30px;
}


/* Styles for image */
.image {
  width: 65%;
  height: 90vh;
  /* margin-top: 100px; */
}

.btn-2 {
  color: #ab6f2b;
  padding: 1vw 70px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  border-radius: 20px;
  border: 1px solid #ab6f2b;
  background-color: #f9e5b9;
  margin:15px 10px;
  cursor: pointer;
}
.containerb{
  width:90%;
  display: flex;
  flex-wrap: wrap;
  margin:20px auto;
}
.mobile-items-container{
  width:100%;
}

/* order */
/* Bill.css */

.containerbill {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
  background-color: #f4f4f4;
}

.bill-container {
  margin-top: -50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.bill-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.order-details {
  margin: 10px 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.item-quantity {
  font-weight: bold;
}

.tip-input {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.tip-input label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.totals {
  margin: 20px 0;
  font-weight: bold;
}

.totals .item-quantity {
  font-size: 18px;
  color: #555;
}

.totals .item-price {
  font-size: 18px;
  color: #333;
}

.button1 {
  display: block;
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.button1:hover {
  background-color: #45a049;
}

.error-message {
  color: #ff5722;
  text-align: center;
  margin-top: 10px;
}

.signup-link {
  font-weight: bold;
  color: #2196f3;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
}

/* dorpdown */
.dropdown-content {
  position: absolute;
  top: 40px; /* Adjust the distance from the button */
  right: 0;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 100px; /* Adjust the minimum width of the dropdown */
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Arrow styles */
.user-dropdown.active .login-button span {
  transform: rotateX(180deg); /* Rotate the arrow when the dropdown is active */
}


/* login */
/* CSS for Login Component Card */
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears on top of other content */
}

.login-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  overflow: hidden;
}

.login-header {
  background-color: #f5a623;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* text-align: center; */
}

.login-form {
  padding: 20px;
}

.login-input {
  width: 95%;
  padding: 10px;
  margin: 0 auto 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #f5a623;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.login-button:hover {
  background-color: #f5ba5a;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #007bff;
  cursor: pointer;
  font-size: 20px;
}

.close-button:hover {
  color: #ff0000;
}


/* signup
 */
 /* CSS for the Signup component */
.signup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.signup-dialog {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.signup-dialog h2 {
  margin-bottom: 20px;
}

.signup-dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-dialog label {
  margin-top: 10px;
  font-weight: bold;
}

.signup-dialog input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-dialog button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-dialog button:hover {
  background-color: #0056b3;
}
